/* header,
main,
footer,
.main-row,
article,
.hero-container {
	border: 2px solid #e91b1b;
} */

:root {
	--primary-color: #354bc7;
	--secondary-color: #d0604c;
}

.flex-container {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.primary-font-style {
	color: var(--secondary-color);
	font-weight: bold;
	text-shadow: 1px 1px #fff;
}

/* Header section */
header {
	display: flex;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	justify-content: space-between;
	gap: 20px;
	align-items: center;
	padding: 10px 70px;
	background-color: rgba(0, 0, 0, 0.5);
}

/* Nav section */
nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	top: 0;
	left: 0;
	right: 0;
}

nav ul {
	display: flex;
	flex-wrap: nowrap;
	list-style-type: none;
	gap: 3vw;
	color: var(--secondary-color);
	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.nav-font-style {
	font-size: 1em;
	color: #fff;
	font-family: "Times New Roman", Times, serif;
	text-transform: uppercase;
}

/* Main section */
main {
	display: flex;
	flex-direction: column;
}

.main-container {
	display: flex;
	justify-content: space-between;
	margin: 10px 50px;
	gap: 15px;
}

.main-card {
	display: flex;
	flex-direction: column;
	background-color: #f1f1f1;
	/* border-radius: 16px; */
	padding: 1%;
	margin: 1%;
	text-align: center;
	width: 100%;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

.main-card-text {
	font-style: italic;
}

/* .main-card-image {
	width: 1vw;
} */

.hero-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 10vw 10px;
	gap: 10px;
}

#hero-text {
	font-size: 3vw;
	font-style: italic;
	cursor: default;
	position: relative;
	font-family: "Times New Roman", Times, serif;
}

#hero-background-image {
	background-image: url("../assets/hair-salon.jpg");
	width: 100%;
	background-size: cover;
	background-position: center;
}

#hero-logo-image {
	width: 55vw;
	filter: drop-shadow(2px 2px #fff);
}

/* Footer section */
footer {
	display: flex;
	justify-content: space-between;
	gap: 20px;
	align-items: center;
	padding: 30px 50px;
	background-color: #354bc7;
}
